{% extends 'layout.twig' %}

{% block title "Wallets" %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Nom</td>
            <td>Type</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>?</td>
                <td>{{ wallet.name }}</td>
                <td>{{ wallet.type }}</td>
                <td><a href="#" class="text-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('wallets.create_form') }}"> Ajouter un nouveau Portefeuille </a>
{% endblock %}